<title>TimeStamp MicroService</title>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<link rel="stylesheet" href="main.css">
<h1>API: Time Stamp - MicroService</h1>

<h4>Example usage:</h4>
<p class="red">http://localhost:<%=port%>/December%2015,%202017</p>
<p class="red">http://localhost:<%=port%>/1450137600</p>

<h4>Example output:</h4>
<p>{ "unix": 1450137600, "natural": "December 15, 2015" }</p>
